---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import Masthead from '../components/Masthead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Body from '../components/Body.astro';
import { Image } from '@astrojs/image/components' 
import Weblanguage from '../components/WebLanguage.vue'
import i18next, { t, changeLanguage } from 'i18next'

import { Transform } from 'astrojs-i18n/components'
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a:any, b:any) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header/>
		<main class='pt-[56px]'>
				<Masthead />
				<Transform i18nKey="website.blog" ns='zh' >
					这是一个场游戏<p>p</p><span>span</span>
				</Transform>
				{ t('website.blog')}
				<Content>
					<!-- <div>{t('title')}</div> -->
					<section>
						<ul class='grid grid-cols-1 md:grid-cols-2 gap-4'>
							{posts.map((post) => (
								<li class="text-center mb-4">
									<a href={post.url}>
										<Image
											class="border border-slate-300 dark:border-zinc-700 rounded-xl"
											src={post.frontmatter.heroImage}
											width={720*2}
											aspectRatio={2.0}
											alt="Thumbnail"
										/>
										<div class='mt-3 text-xl'>
											{post.frontmatter.title}
											{
												post.frontmatter.language ?
												<Weblanguage client:load>{post.frontmatter.language}</Weblanguage>: ''
											}
										</div>
										<div class='opacity-70'>{post.frontmatter.description}</div>
										<time datetime={post.frontmatter.pubDate}>
											{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
												year: 'numeric',
												month: 'short',
												day: 'numeric',
											})}
										</time>
									</a>
								</li>
							))}
						</ul>
						</section>
				</Content>
		</main>
		<Footer />
	</Body>
</html>
