---
/**
 * onlg show list detail
 */
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Content from '../components/Content.astro'
export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;

---

<script>
const backELe = document.querySelector('#back')
backELe?.addEventListener('click', (e:Event) => {
	e.stopPropagation();
	history.go(-1)
},false)
</script>
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<Body>
		<Header />
		<main class="pt-[56px]">
			<Content className='pt-6'>
				<article class='mb-10'>
					{heroImage && (
						<img
							class="border border-slate-300 dark:border-zinc-700 rounded-xl"
							width={720}
							height={360}
							src={heroImage}
							alt=""
						/>
					)}
					<h1 class="text-3xl font-ubuntu my-1">{title}</h1>
					<div class='mb-2'>{description}</div>
						{pubDate && <time>{pubDate}</time>}
						{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
					<hr class='border-top border-zinc-400 my-4'/>
					<slot />
					<a id='back' class="inline-flex items-center justify-start underline underline-offset-2 hover:text-emerald-500 decoration-emerald-500 text-xl cursor-pointer my-5">
						<div class="inline-flex i-carbon-arrow-left"></div>
						back
					</a>
				</article>
			</Content>
		</main>
		<Footer />
	</Body>
</html>
