---
/**
 * project
 */
import { Image } from 'astro:assets'
import BaseHead from '../components/astro/BaseHead.astro'
import Body from '../components/astro/Body.astro'
import Breadcrumb from '../components/astro/Breadcrumb.astro'
import Content from '../components/astro/Content.astro'
import Footer from '../components/astro/Footer.astro'
import Header from '../components/astro/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import { images } from '../utils'
export interface Props {
  category: string
}
const posts = (await Astro.glob('../pages/blog/*.md'))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter(item => item.frontmatter.tags && item.frontmatter.tags.includes('Project'))
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <!-- <Masthead /> -->
      <Content>
        <Breadcrumb>{'Project'}</Breadcrumb>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                   {
                     post.frontmatter.heroImage && <Image
                      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={images['/public'+post.frontmatter.heroImage]()}
                      width={720 * 2}
                      alt={post.frontmatter.description}
                    />
                   }
                    <div class:list={['mt-3 text-xl font-bold',{ ' md:mt-57.5!' : !post.frontmatter.heroImage ? true: false}]}>
                      {post.frontmatter.title}
                    </div>
                    <div>{post.frontmatter.description}</div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
      <Footer />
    </main>
  </Body>
</html>
